Repository woowa-techcamp-2020/hkb-11, pull requests merged in 2020-08, with the labels that each got.

#40 Feat/30 split container component
  frontend/components/Container.ts
  frontend/components/Container/Calendar.ts
  frontend/components/Container/Chart.ts
  frontend/components/Container/Filter.ts
  frontend/components/Container/Form.ts
  frontend/components/Container/List.ts
  frontend/components/Container/index.ts
  frontend/view/ContainerView/RouterView/index.ts
Labels: feat, frontend, refactor

#41 Feat/33,34 list and filter
  frontend/components/Container/Filter.ts
  frontend/components/Container/List.ts
  frontend/components/Container/index.ts
  frontend/index.ts
  frontend/model/InvoiceModel.ts
  frontend/utils/constants.ts
  frontend/view/ContainerView/ModalView.ts
  frontend/view/ContainerView/RouterView/FilterView.ts
  frontend/view/ContainerView/RouterView/FormView.ts
  frontend/view/ContainerView/RouterView/ListView.ts
  frontend/view/MainView/HeaderView.ts
  frontend/view/index.ts
Labels: frontend

#43 Feat/29 divide template
  .vscode/settings.json
  frontend/utils/ElementGenerator.ts
  frontend/view/ContainerView/ModalView.ts
  frontend/view/ContainerView/ModalView/index.ts
  frontend/view/ContainerView/ModalView/style.scss
  frontend/view/ContainerView/ModalView/template.ts
  frontend/view/ContainerView/RouterView/CalendarView.ts
  frontend/view/ContainerView/RouterView/CalendarView/index.ts
  frontend/view/ContainerView/RouterView/CalendarView/style.scss
  frontend/view/ContainerView/RouterView/CalendarView/template.ts
  frontend/view/ContainerView/RouterView/ChartView.ts
  frontend/view/ContainerView/RouterView/ChartView/index.ts
  frontend/view/ContainerView/RouterView/ChartView/style.scss
  frontend/view/ContainerView/RouterView/ChartView/template.ts
  frontend/view/ContainerView/RouterView/FilterView/index.ts
  frontend/view/ContainerView/RouterView/FilterView/style.scss
  frontend/view/ContainerView/RouterView/FilterView/template.ts
  frontend/view/ContainerView/RouterView/FormView.ts
  frontend/view/ContainerView/RouterView/FormView/index.ts
  frontend/view/ContainerView/RouterView/FormView/style.scss
  frontend/view/ContainerView/RouterView/FormView/template.ts
  frontend/view/ContainerView/RouterView/ListView/index.ts
  frontend/view/ContainerView/RouterView/ListView/style.scss
  frontend/view/ContainerView/RouterView/ListView/template.ts
  frontend/view/ContainerView/RouterView/index.ts
  frontend/view/ContainerView/RouterView/style.scss
  frontend/view/ContainerView/RouterView/template.ts
  frontend/view/MainView/HeaderView/index.ts
  frontend/view/MainView/HeaderView/style.scss
  frontend/view/MainView/HeaderView/template.ts
  frontend/view/MainView/NavigatorView.ts
  frontend/view/MainView/NavigatorView/index.ts
  frontend/view/MainView/NavigatorView/style.scss
  frontend/view/MainView/NavigatorView/template.ts
  frontend/view/MainView/index.ts
  frontend/view/MainView/style.scss
  frontend/view/MainView/template.ts
  frontend/view/index.ts
  webpack.common.js
Labels: feat, frontend, refactor, setting

#46 Feat/32 form
  .vscode/launch.json
  frontend/components/Container/Filter.ts
  frontend/components/Container/Form.ts
  frontend/components/Container/List.ts
  frontend/components/Container/index.ts
  frontend/model/InvoiceModel.ts
  frontend/static/styles/_definitions.scss
  frontend/static/styles/base.scss
  frontend/utils/constants.ts
  frontend/view/ContainerView/RouterView/FormView/index.ts
  frontend/view/ContainerView/RouterView/FormView/style.scss
  frontend/view/ContainerView/RouterView/FormView/template.ts
  frontend/view/ContainerView/RouterView/ListView/index.ts
  frontend/view/ContainerView/RouterView/style.scss
  frontend/view/MainView/NavigatorView/style.scss
  package-lock.json
Labels: feat, frontend, refactor, setting, style

#53 Feat/49 router
  frontend/components/Container/index.ts
  frontend/components/Login.ts
  frontend/components/Main.ts
  frontend/index.ts
  frontend/router.ts
  frontend/utils/constants.ts
  frontend/view/MainView/HeaderView/template.ts
  frontend/view/MainView/LoginView/index.ts
  frontend/view/MainView/LoginView/template.ts
  frontend/view/MainView/NavigatorView/index.ts
  frontend/view/MainView/index.ts
  webpack.dev.js
Labels: feat, frontend

#61 [#60] style(form) - 금액 입력시 원 단위 표시
  frontend/view/ContainerView/RouterView/FormView/style.scss
  frontend/view/ContainerView/RouterView/FormView/template.ts
Labels: frontend, style

#62 Feat/59 form validation
  frontend/components/Container/Form.ts
  frontend/components/Container/List.ts
  frontend/components/Container/index.ts
  frontend/components/mockup.ts
  frontend/model/CategoryModel.ts
  frontend/model/PaymentModel.ts
  frontend/static/styles/_definitions.scss
  frontend/utils/constants.ts
  frontend/view/ContainerView/RouterView/CalendarView/index.ts
  frontend/view/ContainerView/RouterView/CalendarView/style.scss
  frontend/view/ContainerView/RouterView/FormView/index.ts
  frontend/view/ContainerView/RouterView/FormView/style.scss
  frontend/view/ContainerView/RouterView/FormView/template.ts
  types/index.ts
Labels: feat, frontend, style

#70 Feat/68 payment modal
  frontend/components/Calendar/index.ts
  frontend/components/Calendar/style.scss
  frontend/components/Calendar/view.ts
  frontend/components/Chart/index.ts
  frontend/components/Container/index.ts
  frontend/components/Container/view.ts
  frontend/components/Filter/index.ts
  frontend/components/Form/index.ts
  frontend/components/Form/view.ts
  frontend/components/Header/index.ts
  frontend/components/Header/view.ts
  frontend/components/List/index.ts
  frontend/components/Login/index.ts
  frontend/components/Login/style.scss
  frontend/components/Login/view.ts
  frontend/components/Main/index.ts
  frontend/components/Main/template.ts
  frontend/components/Main/view.ts
  frontend/components/Modal/index.ts
  frontend/components/Modal/template.ts
  frontend/components/Modal/view.ts
  frontend/components/Navigator/index.ts
  frontend/components/Navigator/view.ts
  frontend/components/app.ts
  frontend/components/component.ts
  frontend/index.ts
  frontend/router.ts
  frontend/static/styles/_definitions.scss
  frontend/static/styles/_mixins.scss
  frontend/utils/constants.ts
Labels: bug, frontend, setting, style

#88 Feat/79 fetch data
  backend/controller/payment-method.ts
  backend/query.ts
  frontend/api/index.ts
  frontend/components/Calendar/view.ts
  frontend/components/Container/index.ts
  frontend/components/Form/index.ts
  frontend/components/Form/view.ts
  frontend/components/Header/view.ts
  frontend/components/List/index.ts
  frontend/components/Modal/index.ts
  frontend/components/Modal/style.scss
  frontend/components/Modal/template.ts
  frontend/components/Modal/view.ts
  frontend/components/app.ts
  frontend/model/InvoiceModel.ts
  frontend/model/PaymentModel.ts
  frontend/static/index.html
  frontend/static/styles/_definitions.scss
  frontend/static/styles/base.scss
  frontend/utils/constants.ts
Labels: backend, bug, feat, frontend

#90 Feat/80 payment api
  backend/controller/index.ts
  backend/controller/payment-method.ts
  frontend/api/index.ts
  frontend/components/Container/index.ts
  frontend/components/Modal/index.ts
  frontend/components/view.ts
  frontend/model/CategoryModel.ts
  frontend/model/PaymentModel.ts
  frontend/model/index.ts
  frontend/router.ts
Labels: backend, feat, frontend, refactor

#102 Feat/99 calendar rest
  frontend/components/Calendar/index.ts
  frontend/components/Calendar/style.scss
  frontend/components/Calendar/view.ts
  frontend/components/Filter/style.scss
  frontend/components/Filter/template.ts
  frontend/components/Filter/view.ts
  frontend/components/Form/style.scss
  frontend/components/Form/template.ts
  frontend/components/Form/view.ts
  frontend/components/Header/style.scss
  frontend/components/List/index.ts
  frontend/components/List/style.scss
  frontend/components/Navigator/style.scss
  frontend/components/Navigator/view.ts
  frontend/utils/constants.ts
Labels: bug, feat, frontend, style
