Repository woowa-techcamp-2020/hkb-11, pull requests merged in 2020-07, with the labels that each got.

#5 [#3] setting(auth) - passport-local 적용
  backend/app.js
  backend/app.ts
  backend/controller/index.ts
  backend/routes/index.js
  backend/routes/index.ts
  backend/strategy.ts
  package-lock.json
  package.json
Labels: auth, backend

#10 [#2] setting(backend) - 백앤드 구조 초기 설정
  .gitignore
  .vscode/settings.json
  backend/controller/index.ts
  backend/pool.ts
  backend/query.ts
  backend/routes/index.ts
  backend/routes/invoice.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: backend, setting

#15 Feat/11 category api
  backend/controller/category.ts
  backend/controller/index.ts
  backend/query.ts
  backend/routes/index.ts
Labels: backend, feat, refactor

#17 Feat/13 payment method api
  backend/controller/index.ts
  backend/controller/payment-method.ts
  backend/query.ts
  backend/routes/index.ts
Labels: backend, feat, refactor

#18 Feat/14 invoice api
  backend/controller/index.ts
  backend/controller/invoice.ts
  backend/query.ts
  backend/routes/index.ts
  backend/routes/invoice.ts
Labels: backend, feat

#24 Feat/8 frontend
  frontend/components/Container.ts
  frontend/components/Main.ts
  frontend/components/index.ts
  frontend/components/mockup.ts
  frontend/index.ts
  frontend/model/InvoiceModel.ts
  frontend/model/index.ts
  frontend/model/store.ts
  frontend/static/index.html
  frontend/utils/constants.ts
  frontend/view/HeaderView.ts
  frontend/view/InvoiceCalendarView.ts
  frontend/view/InvoiceChartView.ts
  frontend/view/InvoiceFilterView.ts
  frontend/view/InvoiceFormView.ts
  frontend/view/InvoiceListView.ts
  frontend/view/MainView.ts
  frontend/view/ModalView.ts
  frontend/view/NavigatorView.ts
  frontend/view/RouterView.ts
  frontend/view/index.ts
  package-lock.json
  types/index.ts
  webpack.common.js
Labels: feat, frontend
